{% extends "layout-Top.html" %}
{% block body %}
<img src="static/icon.gif"　width="70" height="70" align="middle"><font size="7"> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; WordCloud Application</font>
<HR />
<font size="10">あなたのTweetの最新150件からWordCloudを作成します！</font>
<center><font size="8">まずはアカウント認証画面へ！</font></center>
<center><img src="static/icon.gif"　width="500" height="500" onclick="location.href='{{url}}'" border="0" ></center>
<font size="10">あなたのTweetの最新150件からReplyのランキングを作成します！</font>
<center><font size="8">まずはアカウント認証画面へ！</font></center>
<center><img src="static/icon2.gif"　width="500" height="500" onclick="location.href='{{url}}'" border="0" ></center>
<font size="6">・次の画面であなたのIDとPassを入力してください</font><br>
<font size="6">・入力を終えたら認証ボタンをおしてください</font><br>
<font size="8"><span style="padding:6px 10px; background:#008000; color:#ffffff; font-weight:bold; border-radius: 10px;">【WordCloudとは】</span><div style="border:1px solid #000066; padding:10px; font-size:0.9em; margin-top:2px; border-radius: 10px;">文章中で出現頻度が高い単語を複数選び出し、その頻度に応じた大きさで図示する手法</div></font>
<HR /><div style="BACKGROUND-COLOR:	#F8F8FF">
  <p>&nbsp; </p>
  <p>&nbsp; </p>
  <p>&nbsp; </p>
  <p>&nbsp; </p>
  <p>&nbsp; </p>
  <p>&nbsp; </p>
</div>
{% endblock %}
